{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="bg-neutral-2">
        <h1>Please sign in</h1>
        <form method="post" action="{{ path('app_login') }}">
            {# Display error messages if authentication fails #}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputName">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputName" required autofocus>

            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">Sign in</button>
        </form>
    </div>
    <div class="flex flex-col">
        <span class="font-medium"> Don't have an account? Sign up here! </span>
        <a href="{{ path('signup_page') }}">Sign up</a>
    </div>
{% endblock %}

