{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <div class="bg-gray-200 min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded shadow-md w-96">
            <h1 class="text-2xl font-semibold mb-6 text-center"> {{ title }}</h1>

            {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}

            <div class="flex flex-col">
                {{ form_label(form.username, 'Username', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.username, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.password, 'Password', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.password, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.height, 'Height', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.height, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.weight, 'Weight', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.weight, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.age, 'Age', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.age, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.gender, 'Gender', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.gender, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.neck, 'Neck (optional)', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.neck, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.waist, 'Waist (optional)', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.waist, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.hip, 'Hip (optional)', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.hip, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.activityLevel, 'Activity Level', {'label_attr': {'class': 'mb-1 text-sm'}}) }}
                {{ form_widget(form.activityLevel, {'attr': {'class': 'p-2 border border-gray-300 rounded'}}) }}
                {{ form_errors(form.activityLevel) }}

                <div>
                    <span class="cursor-pointer text-blue-500" onclick="showActivityLevelInfo()">ℹ️</span>
                </div>

                <!-- Tooltip for information -->
                <div id="activityLevelInfo" class="hidden p-2 bg-white border border-gray-300 rounded">
                    <p class="text-sm">
                        1 - Very sedentary (0-1 hours of workouts per week)<br>
                        2 - Sedentary (1-2 hours per week)<br>
                        3 - Moderately active (2-3 hours per week)<br>
                        4 - Active (3-4 hours per week)<br>
                        5 - Very active (5+ hours per week)
                    </p>
                </div>
            </div>

            <button type="submit" style="background-color: #3b82f6" class="text-white py-2 px-4 rounded"> {{ title }} </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    function showActivityLevelInfo() {
        const infoTooltip = document.getElementById('activityLevelInfo');
        infoTooltip.classList.toggle('hidden');
    }
</script>
{% endblock %}