{% block javascripts %}
    <script lang="js">
        let exercises = {{ performedExercises | raw }};

        google.charts.load('current', {'packages':['corechart']});

        function drawExerciseChart(exerciseName) {
            let exercisesBySelectName;
            if(exerciseName){
                exercisesBySelectName = exercises.filter(exercise => exercise.name === exerciseName);
            } else {
                exercisesBySelectName = exercises.filter(exercise => exercise.name === exercises[0].name);
            }

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Weight');
            data.addColumn('number', 'Reps');
            data.addColumn('number', 'Sets');

            exercisesBySelectName.forEach(function(exercise) {
                data.addRow([
                    new Date(dayjs(new Date(exercise.performedDate.date)).format('YYYY-MM-DD')),
                    exercise.weight,
                    exercise.reps,
                    exercise.sets
                ]);
            });

            var options = {
                title: 'Exercise Progress Over Time',
                curveType: 'function',
                legend: { position: 'bottom' },
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

<html lang="en">
<div class="workout-list p-8">
    <label for="exerciseName" class="block text-lg font-semibold mb-2">
        Select exercise to show progress on:
    </label>
    <select id="exerciseName" name="exerciseName" onclick="drawExerciseChart(this.value)" class="p-2 border border-gray-300 rounded mb-4">
        {% for exercise in exercises %}
            <option value="{{ exercise }}">{{ exercise }}</option>
        {% endfor %}
    </select>

    <div class="flex flex-col">
        <div class="text-lg font-semibold mb-2">Here is your progress</div>
        <div id="chart_div" style="width: 100%; height: 400px;" class="mb-4"></div>

        <div class="flex flex-wrap -mx-4">
            {% for workout in workouts %}
                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-4 mb-4">
                    <div class="bg-white p-4 border shadow">
                        <div class="flex flex-col space-y-2">
                            <span class="text-lg font-semibold mb-2">{{ workout.name }}</span>
                            <span>Date: {{ workout.performedDate|date('Y-m-d H:i:s') }}</span>
                        </div>

                        <div class="flex flex-col space-y-3">
                            {% for exercise in workout.performedExercises %}
                                <div class="flex flex-col">
                                    <span>Name: {{ exercise.getName() }}</span>
                                    <span>Used weight: {{ exercise.getWeight() }}</span>
                                    <span>Performed reps: {{ exercise.getReps() }}</span>
                                    <span>Number of sets: {{ exercise.getSets() }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</html>

<style>
    .workout-list {
        max-height: calc(100vh - 20px);
        overflow-y: scroll;
    }
</style>
