<html lang="en">
{% block javascripts %}
        <script type="text/javascript">
                let selectedExercises = [];
                function addExerciseToWorkout(exerciseName) {
                        const button = document.getElementById(exerciseName);
                        button.hidden = true;

                        const deleteButton = document.getElementById('delete-' + exerciseName);
                        deleteButton.hidden = false;

                        selectedExercises.push(exerciseName);
                        console.log(exerciseName);
                }

                function removeExerciseFromWorkout(exerciseName) {
                        selectedExercises = selectedExercises.slice(selectedExercises.findIndex(exercise => exercise.name === exerciseName), 1);
                }

                function isExerciseAddedToWorkout(exerciseName) {
                        return selectedExercises.some(selectedExercise => selectedExercise === exerciseName);
                }
        </script>
{% endblock %}
<div class="relative">
        {% block body %}
                <div class="flex flex-col overflow-y-scroll workout-list">
                        <div class="flex flex-row flex-wrap">
                                {% for exercise in exercises %}
                                        <div class="flex flex-col ml-3 w-56 h-auto items-center justify-center border shadow">
                                                <img src="{{ exercise.getGifUrl() }}" alt="Exercise GIF">
                                                <div class="flex flex-row w-full px-2 justify-between">
                                                        <span class="font-medium"> Name: </span>
                                                        <span> {{ exercise.getName() }} </span>
                                                </div>
                                                <div class="flex flex-row w-full px-2 justify-between">
                                                        <span class="font-medium"> Target: </span>
                                                        <span> {{ exercise.getTarget() }} </span>
                                                </div>
                                                <span class="w-full font-medium"> Secondary muscles </span>
                                                {% for muscle in exercise.getSecondaryMuscles() %}
                                                        <div class="flex flex-row w-full px-2 justify-between">
                                                                <span class="font-medium"> Muscle name: </span>
                                                                <span> {{ muscle }} </span>
                                                        </div>
                                                {% endfor %}
                                                <button id="{{ exercise.name }}" onclick="addExerciseToWorkout('{{ exercise.name }}')" class="cursor-pointer bg-blue-500 border mt-auto mb-2 shadow"> <span class="font-medium"> Add to workout </span></button>
                                                <button id="delete-{{ exercise.name }}" onclick="removeExerciseFromWorkout('{{ exercise.name }}')" class="cursor-pointer bg-red-500 border mt-auto mb-2 shadow" hidden> <span class="font-medium"> Remove exercise </span></button>
                                        </div>

                                {% endfor %}
                        </div>
                </div>
        {% endblock %}
        <div class="fixed bottom-3 right-20">
                <button class="flex cursor-pointer border bg-blue-500 shadow"> <span class="font-medium"> Submit workout </span></button>
        </div>
</div>
</html>
<style>
        .workout-list {
                max-height: calc(100vh - 20px);
        }
</style>